%div{class: "google_adsense #{_class}", id: "#{_id}"}
  %ins.adsbygoogle{ 'data-ad-client': 'ca-pub-1853684359209014',
  style: "display:inline-block; width:#{size[:width]}px; height:#{size[:height]}px", 'data-ad-slot': "#{token}" }
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});
