!!!
%html
  %head
    = display_meta_tags title: @title || t('domain.shopsmart')
    = display_meta_tags description: @description || t('domain.shopsmart')
    = display_meta_tags keywords: @keywords || t('domain.shopsmart')
    %meta{charset: 'utf-8'}/
    %meta{name: 'content-type', content: 'text/html; charset=utf-8'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no'}/

    %meta{name: 'google-site-verification', content: '66D9dTdxA2DYn828TtdUEavrDPviT5vkeXtC6bec3mA'}/
    %meta{name: 'google-site-verification', content: 'IaNOkTKVqQ6VFWK9Zz8HtqrziowbFHerLoPZ8UHj0-A'}/
    %meta{name: 'p:domain_verify', content: 'e6377dd46f68151b994a87ae36b9aed1'}/
    = csrf_meta_tags
    / Favicons, IE
    %meta{name: 'msapplication-TileColor', content: '#000000'}/
    %meta{name: 'msapplication-TileImage', content: "#{image_url('favicons/icon-194x194.png')}"}/
    %meta{name: 'theme-color', content: '#ffffff'}/
    / End Favicons, IE

    / Favicons
    %link{rel: 'icon', type: 'image/png', sizes: '16x16', href: image_url('favicons/icon-16x16.png')}/
    %link{rel: 'icon', type: 'image/png', sizes: '32x32', href: image_url('favicons/icon-32x32.png')}/
    %link{rel: 'icon', type: 'image/png', sizes: '96x96', href: image_url('favicons/icon-96x96.png')}/
    %link{rel: 'icon', type: 'image/png', sizes: '194x194', href: image_url('favicons/icon-194x194.png')}/
    %link{rel: 'apple-touch-icon', sizes: '57x57', href: image_url('favicons/apple-touch-icon-57x57.png')}/
    %link{rel: 'apple-touch-icon', sizes: '60x60', href: image_url('favicons/apple-touch-icon-60x60.png')}/
    %link{rel: 'apple-touch-icon', sizes: '72x72', href: image_url('favicons/apple-touch-icon-72x72.png')}/
    %link{rel: 'apple-touch-icon', sizes: '76x76', href: image_url('favicons/apple-touch-icon-76x76.png')}/
    %link{rel: 'apple-touch-icon', sizes: '114x114', href: image_url('favicons/apple-touch-icon-114x114.png')}/
    %link{rel: 'apple-touch-icon', sizes: '120x120', href: image_url('favicons/apple-touch-icon-120x120.png')}/
    %link{rel: 'apple-touch-icon', sizes: '144x144', href: image_url('favicons/apple-touch-icon-144x144.png')}/
    %link{rel: 'apple-touch-icon', sizes: '152x152', href: image_url('favicons/apple-touch-icon-152x152.png')}/
    %link{rel: 'apple-touch-icon', sizes: '180x180', href: image_url('favicons/apple-touch-icon-180x180.png')}/
    / End Favicons

    / Google Tag Manager
    = yield :gtm_data_layer
    = render 'shared/google_data_layer_init'
    / End Google Tag Manager

    = yield :header

    = stylesheet_link_tag 'application', media: 'all'

    %script{type: 'text/javascript'}
      locale = "#{I18n.locale}"

    -#/ Accelerated Mobile Pages (AMP)
    -#= render 'layouts/header/amp'
    -#/ End Accelerated Mobile Pages (AMP)

    / Google AdSense
    %script{async: '', src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'}
    / End Google AdSense

  %body{class: "template-#{controller.controller_name}"}

    = render 'layouts/header/header'

    - cache(cache_key_for_header_menu) do
      = render 'layouts/header/menu'

    = yield

    = render 'layouts/footer/footer'

    = javascript_include_tag 'application'
